<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <title>Users</title>
</head>
<body>
<h1>This is a list of all the users</h1>
<a href="/users/signup">signup</a>
{% if user_list %}
<h1>users</h1>

{% for user in user_list %}
<ul>user
    <li>Name: {{ user.name }}</li>
    <li>Age: {{ user.age }}</li>
    <li>Email: {{ user.email }}</li>

</ul>

{% endfor %}

{% else %}
<p>no users found</p>
{% endif %}
</body>
</html>